CONFIG_IDF_TARGET="esp32s2"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=20
CONFIG_USB_ENABLED=y
CONFIG_USB_NET_ENABLED=y
CONFIG_LWIP_IPV6=n
CONFIG_LWIP_NETIF_STATUS_CALLBACK=y
CONFIG_FREERTOS_HZ=1000
